body{
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.header .webtitle{
    justify-content: left;
    display: flex;
    text-decoration: none;
    color: orange;
    font-size: 40px;
    font-weight: bold;
    padding-left: 15px;
}
.header .path{
    justify-content: left;
    text-decoration: none;
    color: gray;
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    vertical-align: baseline;
    justify-content: left;
    background-color: lightcyan;
}

.card {
    margin-top: 10px;
    width: 500px;
}
.card .infoText {
    color:gray;
    font-size: 15px;
    margin-top: 10px;
    text-decoration: none;
}

@media screen and (max-width:700px) {
    .main {
        width: 90%;
    }
    .header .webtitle {
        font-size: 30px;
    }
    .header .path {
        font-size: 15px;
    }
}
@media screen and (max-width: 550px) {
    .card {
        width: 90%;
    }
}

.footer {
    font-size: 15px;
    color: gray;
    margin-top: 100px;
}
.link {
    font-size: 15px;
    text-decoration: none;
}