body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;

    background-image: url("../static/shaking fbk.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.loginbox {
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.loginarea {
    display: flex;
    flex-direction: column;
}
.loginbox .boxtitle{
    background-color: lightskyblue;
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 15px;
    font-weight: bolder;
    margin-bottom: 25px;
    text-decoration: none;
    color: black;
}

.loginarea label {
    margin-bottom: 3px;
    font-size: 17px;
}

.loginarea input {
    padding: 8px;
    margin-bottom: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.loginarea .btn {
    text-decoration: underline;
    color:black;
}
.loginarea .btn:hover {
    color: gray;
}

.loginarea .forgetpw {
    margin-bottom: 10px;
}
.loginarea .hint {
    border-color: rgb(255, 162, 162);
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
    font-size: 17px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(249, 218, 223);
    visibility: hidden;
}

.loginarea button {
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.loginarea button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .loginbox {
        width: 90%;
    }
}