body{
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.pro-title{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-top: 100px;
}
.progress {
    width: 500px;
    margin-top: 2px;
}

.card {
    margin-top: 10px;
    width: 500px;
}

.whistle{
    width: 60%;
    border-radius: 10px;
    visibility: hidden;
}
.fbk{
    width: 60%;
    border-radius: 10px;
    visibility: hidden;
    margin-bottom: 50px;
}
.whistle-text{
    color: black;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    visibility: hidden;
    text-align: center;
}
.fbk-text{
    color: black;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    visibility: hidden;
    text-align: center;
}
.player{
    margin-top: 20px;
    margin-bottom: 100px;
    visibility: hidden;
}

.alert{
    width: 500px;
    margin-top: 10px;
    visibility: hidden;
}
.btn{
    visibility: hidden;
}
.hq{
    font-size: 18px;
    text-decoration: underline;
    color:gray;
    visibility: hidden;
}

@media screen and (max-width:600px) {
    .progress {
        width: 300px;
    }
    .card {
        width: 300px;
    }
    .alert{
        width: 300px;
    }

    .whistle, .fbk{
        width: 95%;
    }
    .whistle-text, .fbk-text {
        font-size: 30px;
    }
}

@media screen and (max-width:800px) {
    .progress {
        width: 300px;
    }
    .card {
        width: 300px;
    }
    .alert{
        width: 300px;
    }

    .whistle, .fbk{
        width: 90%;
    }
    .whistle-text, .fbk-text {
        font-size: 30px;
    }
}

.footer {
    font-size: 15px;
    color: gray;
    margin-top: 100px;
}
.link {
    font-size: 15px;
    text-decoration: none;
}

@media screen and (max-width:900px) {
    .whistle, .fbk{
        width: 80%;
    }
}